################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Code/API/KalingaHub.Console/bin
/Code/API/KalingaHub.Console/obj
/Code/API/.vs
